<header class="header">
  <div class="logo">
    <span class="logo-mark clickable-text" (click)="goHome()">TP</span>
    <span class="logo-text clickable-text" (click)="goHome()">Tour Planner</span>
    @if (this.state.activeSession().loggedIn) {
      <span class="logo-username">Hello, {{ this.state.activeSession().username }}</span>
    }
  </div>

  <nav class="nav">
    <span (click)="goHome()" class="clickable-text">
      Home
    </span>

    <span (click)="goToAbout()" class="clickable-text">
      About
    </span>

    @if (!this.state.activeSession().loggedIn) {
      <span (click)="goTo('login')" class="clickable-text">
        Login
    </span>
    } @else {
      <span (click)="logout()" class="clickable-text">
        Logout
    </span>
    }

  </nav>
</header>

